numpy==2.3.5
pandas==2.3.3; python_version < "3.13"
matplotlib==3.8.1; python_version < "3.13"
requests==2.31.0
pyyaml==6.0.3
regex==2023.8.8; python_version < "3.13"
tqdm==4.65.0
lxml==4.9.3; python_version < "3.13"
typing_extensions==4.8.0
